*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
}

.header{
    display: flex;
    justify-content: space-around;
}

.header .logo img{
    width: 140px;
    height: 105px;
    border-radius: 50%;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul{
    display: flex;
    
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    margin: 0 15px 0 15px;
    font-size: 1.2em;
}
/* Header Section End */

.hero{
    background: url('bg.png');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.hero-content{
    display: flex;
    flex-direction: column;
    /* We're using display: flex because justify,align won't work 
    without display:flex. */
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
}

.hero-content h1{
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.hero_btn a{
    text-decoration: none;
    color: rgb(27, 30, 31);
    border: 2px solid rgb(27, 30, 31);
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    background-color:cadetblue;
    font-size: 1.1em;
}

.hero_btn a:hover{
    border: 2px solid #fff;
    background-color:rgb(3, 107, 110);
    color:antiquewhite;
    cursor: pointer;
}

/* Hero Section End */

.section{
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 20px;
}

.section h2{
    margin-bottom: 10px;
    color: cadetblue;
}

.item img{
    width: 350px;
    height: 250px;
    border: 2px solid #635dda;
    padding: 5px;
    background-color: #ddd;
    border-radius: 6px;
}

.courses{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.item h3{
    text-align: center;
}

.item img:hover{
    cursor: pointer;
}
/* Courses Section End */